
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arvo', sans-serif;
  background: linear-gradient(to right, #434343, #000000);
  color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.drum[data-key="87"] {
  background-image: url('images/crash.png');
  background-size: cover;
}

.drum[data-key="65"] {
  background-image: url('images/kick.png');
  background-size: cover;
}

.drum[data-key="83"] {
  background-image: url('images/snare.png');
  background-size: cover;
}

.drum[data-key="68"] {
  background-image: url('images/tom1.png');
  background-size: cover;
}

.drum[data-key="74"] {
  background-image: url('images/tom2.png');
  background-size: cover;
}

.drum[data-key="75"] {
  background-image: url('images/tom3.png');
  background-size: cover;
}

.drum[data-key="76"] {
  background-image: url('images/tom4.png');
  background-size: cover;
}
#title {
  font-size: 4rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  color: #DA0463;
}

.set {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.drum {
  font-size: 2.5rem;
  font-weight: bold;
  color: #DA0463;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  background-color: #1E1E1E;
  border: 5px solid #DA0463;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out, background-color 0.2s ease-out;
}

.drum:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(218, 4, 99, 0.8);
  background-color: #333333;
}

footer {
  margin-top: 20px;
  font-family: sans-serif;
  font-size: 0.8rem;
  color: #888888;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .set {
    flex-direction: column;
  }
  .drum {
    width: 100px;
    height: 100px;
    font-size: 2rem;
  }
}
